/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#PlacesToolbarItems {
  display: flex !important;
  justify-content: center !important;
}

/* Decrease bookmark menu padding */
menupopup > menuitem, menupopup > menu {
    padding-block: 7px !important;
}

/* Increase favourites toolbar spacing */
root {
 --arrowpanel-menuitem-padding: 4px 8px !important;
}
