/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#PlacesToolbarItems {
  display: flex !important;
  justify-content: center !important;
}

/* Increase bookmark toolbar padding */
.bookmark-item:not(#PlacesToolbar menuitem, menu) {
  margin-inline: 8px !important;
}

/* Disable favicons on the favorites bar */
toolbarbutton.bookmark-item > .toolbarbutton-icon {
  display: none!important;
}

/* Disable status bar at bottom */
#statuspanel {
   display: none !important;
}
